*{
  box-sizing: border-box
}
.container
{
  padding: absolute;
  width: 1320px;
  margin: 0 auto 0;
}
#img1
{
  width: 30px;
  height:30px;
float: left;

}
.acrp
{
  font-size: 30px;
  border:1px solid black;
  border-radius: 10px;
  width: 31%;
  background-color: #00BFFF;
  margin-left: 34%;
  margin-top: 14%
}
.img2
{
  width: 33px;
  height:33px;
  float: left;
}
.inicio
{
  font-size: 30px;
  border:1px solid black;
  border-radius: 10px;
  width: 31%;
  background-color: #00BFFF;
  margin-left: 34%;

}
.tdprodut
{
  font-size: 30px;
  border:1px solid black;
  border-radius: 10px;
  width: 31%;
  background-color: #00BFFF;
  margin-left: 34%
}
.entrar
{
  font-size: 30px;
  border:1px solid black;
  border-radius: 10px;
  width: 31%;
  background-color: #00BFFF;
  margin-left: 34%;
}
.carrinho
{
  font-size: 30px;
  border:1px solid black;
  border-radius: 10px;
  width: 31%;
  background-color: #00BFFF;
  margin-left: 34%
}
#banner
{
  border: 2px solid black;
 position: relative;
 width: 100%;
 bottom:0px;
 right: 0px
}
.bemv
{
  font-size: 88px;
  margin:0px 0px 0px 352px
}
#face
{
  width: 40%;
  margin:30px 0px 0px 95px
}
#voltar
{
  width: 18px;
  height:18px;
 display:inline-block;
}
.voltar
{
    background-color:#CD5C5C;
    font-size: 25px;
    border:1px solid black;
    width: 23%;
    margin:15px 0px 0px 0px
}
#paginainic
{
  width: 33px;
  height:33px;
 display:inline-block
}
.paginainic
{
  background-color:#CD5C5C;
  font-size: 25px;
  border:1px solid black;
  width: 23%;
  margin:80px 0px 0px 0px;
  display:inline-block
}
.vazio
{
  color: red;
text-align: center;
margin: 120px 0px 0px 0px;
font-size: 70px;
font-family:Impact
}
.pf
{
  color:#696969;
  text-align: center;
  font-size: 25px;
  margin: 40px 0px 0px 0px;
}
#volts
{
  width: 18px;
  height:18px;
 display:inline-block;
}
.volts
{
    background-color: #87CEFF;
    font-size: 25px;
    border:1px solid black;
    width: 23%;
    margin:105px 0px 0px 250px;
    display:inline-block
}
#inics
{
  width: 33px;
  height:33px;
 display:inline-block
}
.inics
{
  background-color: #87CEFF;
  font-size: 25px;
  border:1px solid black;
  width: 23%;
  margin:-31px 0px 0px 750px;
  display:inline-block
}
.tds
{
  border:2px solid black;
  width: 47%;
  border-radius: 10px;
  font-family: Arial Black;
  font-size: 25px;
  margin: 20px 0px 0px 0px
}
#vinho1
{
  border: 1px solid black;
  border-radius: 10px;
  margin: 70px 0px 0px 50px;
  width: 200px;
  height: 200px;
  background-color: #EEEED1
}
.msg
{
  font-size: 20px;
  margin: 0px 0px 0px 51px;
}
#b1
{
  font-family: Comic Sans MS;
  color: red
}
#b2
{
  font-family: Comic Sans MS;
  color:Green
}
#b3
{
  font-family: Comic Sans MS;
  margin-left: 15px;
}
#b4
{
  font-family: Comic Sans MS;
  color:black
}
a
{
  text-decoration: none;
  color:black
}
.item
{
  font-size: 30px;
  margin:15px 0px 0px 15px;
  float: left;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #E6E6FA
}
#carri
{
  width: 30px;
  height: 30px;
  float: left
}
.desejo
{
  font-size: 25px;
  margin: 70px 0px 0px 15px;
}
#compra1
{
  border: 1px solid black;
  border-radius: 10px;
  margin: 70px 0px 0px 35px;
  width: 200px;
  height: 200px;
  background-color: #EEEED1

}
.especi
{
  margin: -160px 0px 0px 237px;
  border: 1px solid black;
  width: 350px;
  height: 115px;
  background-color: #E6E6FA;
  font-family: Comic Sans MS
}
#b5
{
  font-size: 40px;
  margin-left: 35%;
  color: #EE0000
}
.valor1
{
  font-size: 30px;
  margin: 50px 0px 0px 31px
}
#b6
{
  margin: 0px 0px 0px 58px;
  color: green
}
.comprar1
{
  font-size: 30px;
  margin: 35px 0px 0px 20px;
  border: 2px solid blue;
  border-radius: 10px;
  width: 365px;
  background-color: #E6E6FA;
  font-family: Comic Sans MS
}
#comprar1
{
  border: 1px solid black;
  border-radius: 10px;
  margin: 70px 0px 0px 35px;
  width: 200px;
  height: 200px;
  background-color: #EEEED1
}
.val1
{
  font-size: 25px;
  margin: 10px 0px 0px 37px;

}
#b7
{
  color: green;
  font-family: Arial Black

}
.quant
{
  margin: -27px 0px 0px 300px;
}
.pags
{
  margin: -29px 0px 0px 750px;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 10px;
  width: 450px;
  background-color: #EEEED1
}
.bolets
{
  margin: 10px 0px 0px 910px;
}
.cliquecomp
{
  font-size:30px;
  border: 1px solid black;
  border-radius: 10px;
  width: 210px;
  margin: 95px 0px 0px 35px;
  background-color:red
}
.C
{
  font-size: 30px;
  margin: 30px 0px 0px 28px;
  color: #1C1C1C
}
.sucesso
{
  text-align: center;
  font-size: 60px;
  margin: 180px 0px 0px 0px;
  color: red
}
.cont
{
  font-size: 25px;
  text-align: center;
  margin: 35px 0px 0px 0px;
  color: #828282
}
.produt2
{
  margin: -353px 0px 0px 350px
}
.msg2
{
  font-size: 20px;
  margin: 0px 0px 0px 51px;
  font-family: Comic Sans MS
}
#b8
{
   margin: 0px 0px 0px 13px
}
#b9
{
  margin: 0px 0px 0px 8px;
}
#b10
{
  color:Green
}
.produt3
{
  margin: -326px 0px 0px 700px
}

.msg3
{
  font-size: 20px;
  margin: 0px 0px 0px 51px;
  font-family: Comic Sans MS
}
#b11
{
margin: 0px 0px 0px 0px
}
#b12
{
margin: 0px 0px 0px 8px;
}
#b13
{
  color:Green
}
.produt4
{
  margin: -326px 0px 0px 1060px
}
.msg4
{
  font-size: 19px;
  margin: 0px 0px 0px 51px;
  font-family: Comic Sans MS
}
#b14
{
margin: 0px 0px 0px 0px
}
#b15
{
margin: 0px 0px 0px 13px;
}
#b16
{
  color:Green
