*{
  box-sizing: border-box
}
.container
{
  padding: absolute;
  width: 1320px;
  margin: 0 auto 0;
}
#img1
{
  width: 30px;
  height:30px;
float: left;
}
.acrp
{
  font-size: 30px;
  border:1px solid black;
  width: 32%;

}
.img2
{
  width: 33px;
  height:33px;
  float: left;
}
.inicio
{
  font-size: 30px;
  border:1px solid black;
  width: 32%;
}
.tdprodut
{
  font-size: 30px;
  border:1px solid black;
  width: 32%;
}
.entrar
{
  font-size: 30px;
  border:1px solid black;
  width: 32%;
}
.carrinho
{
  font-size: 30px;
  border:1px solid black;
  width: 32%;
}
#banner
{
  border: 2px solid black;
 position: relative;
 width: 100%;
 bottom:0px;
 right: 0px
}
.bemv
{
  font-size: 88px;
  margin:0px 0px 0px 352px
}
#face
{
  width: 40%;
  margin:30px 0px 0px 95px
}
#voltar
{
  width: 18px;
  height:18px;
 display:inline-block;
}
.voltar
{
    background-color:#CD5C5C;
    font-size: 25px;
    border:1px solid black;
    width: 23%;
    margin:80px 0px 0px 0px
}
#paginainic
{
  width: 33px;
  height:33px;
 display:inline-block
}
.paginainic
{
  background-color:#CD5C5C;
  font-size: 25px;
  border:1px solid black;
  width: 23%;
  margin:15px 0px 0px 0px;
  display:inline-block
}
